.bg{
    &-white {
        background-color: $white;
    }
    &-black {
        background-color: $black;
    }
    &-pink {
        background-color: $pink;
    }
    &-mint {
        background-color: $mint;
    }
    &-blue {
        background-color: $blue;
    }
    &-green {
        background-color: $green;
    }
    &-red {
        background-color: $red;
    }
    &-orange {
        background-color: $orange;
    }
    &-yellow {
        background-color: $yellow;
    }
    &-bronze {
        background-color: $bronze;
    }
    &-moss {
        background-color: $moss;
    }
    
}